body {
  padding: 0;
  background: #F7F6F2;
  text-align: center;
}

.logo {
  width: 100%;
  z-index:-1;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background: url("background.png") repeat-x top;
}

.date {
  position: fixed;
  bottom: 20px;
  width: 100%;
  height: 50px;
  background: url("date.svg") no-repeat center bottom;
  background-size: 180px auto;
}

form  {
  width: 320px;
  margin: auto;
  display: block;
}


.content {
  padding: 10px 50px;
  margin: auto;
  display: block;
  text-align: left;
  max-width: 768px;
}

.navbar-fixed {
  overflow: hidden;
  background: green;
  display: block;
  height: auto;
  position: inherit;
}

.navbar-fixed nav {
  background-color: white;
  box-shadow: none;
  overflow: hidden;
  display: block;
  height: auto;
  position: inherit;
}

nav a {
  color: #9e9e9e;
  font-size: 15px;
  margin: 0 10px;
  display: inline-block;
  font-weight: 300;
  height: 40px;
}

@media screen and (max-width: 374px) {
  nav a {
    font-size: 12px;
    margin: 0 4px;
  }

  .floating_block .content {
    padding: 10px;
  }
}
@media screen and (min-width: 375px) and (max-width: 479px) {
  nav a {
    font-size: 12px;
    margin: 0 5px;
  }
  .floating_block .content {
    padding: 15px;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  nav a {
    font-size: 14px;
    margin: 0 5px;
  }
  .floating_block .content {
    padding: 20px;
  }
}

nav a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 20px;
  color: #AF8860;
}

p {
  color: #2C4140;
}

.content table td {
  width: 50%;
  text-align: center;
  padding: 0 10px;
}
.content table td img {
  width: 100%;
}